.nav {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    padding: 2rem 0;
    background: var(--nav-bg-color);
    border-radius: 5rem;
    z-index: 100;
    animation: animateNav 1s ease-in-out backwards;
    animation-delay: 4s;
  }
  
  .navList {
    display: flex;
    justify-content: space-evenly;
  }
  
  .navItem {
    position: relative;
    display: flex;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navItem:hover,
  .navItem.active {
    color: var(--main-color);
  }
  
  .tooltip {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem 1rem;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    white-space: nowrap;
    font-weight: 500;
  }
  
  .navItem:hover .tooltip,
  .link:hover .tooltip,
  .portfolioItem:hover .workInfo {
    opacity: 1;
    visibility: visible;
  }
  
  @keyframes animateNav {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  